body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 25%;
    position: fixed;
    height: 100%;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
}

.main-content {
    margin-left: 25%;
    padding: 20px;
    width: 75%;
    box-sizing: border-box;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    width: calc(25% - 10px);
    background-color: lightgray;
    margin: 5px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.2s;
    position: relative;
}

.grid-item::before {
    content: "";
    display: block;
    padding-top: 100%; /* This makes the element square */
}

.grid-item img {
    max-width: 100%;
    border-radius: 8px;
}

.grid-item:hover {
    background-color: darkgray;
}
